# Data Cleaning

#### Dataset setup

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/raw/Business_Analytics_Dataset_10000_Rows.csv')
df

,Order_ID,Customer_ID,Order_Date,Region,Product_Category,Customer_Segment,Quantity,Unit_Price,Discount_Rate,Revenue,Cost,Profit,Payment_Method
0,1,CUST3818,2024-08-18,North,Clothing,Corporate,5,300.68,0.27,1097.48,768.29,329.19,Credit Card
1,2,CUST9689,2024-06-19,South,Beauty,Home Office,9,32.89,0.02,290.09,179.33,110.76,Debit Card
2,3,CUST9147,2024-11-21,West,Sports,Corporate,5,345.61,0.25,1296.04,1022.60,273.44,Credit Card
3,4,CUST7938,2024-07-19,North,Clothing,Consumer,1,444.50,0.06,417.83,280.99,136.84,UPI
4,5,CUST5127,2024-10-28,South,Home & Kitchen,Consumer,5,65.13,0.21,257.26,151.90,105.36,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,CUST9137,2024-06-30,West,Beauty,Home Office,3,210.14,0.09,573.68,422.90,150.78,Credit Card
9996,9997,CUST3663,2024-08-21,East,Clothing,Home Office,3,332.67,0.13,868.27,544.27,324.00,Credit Card
9997,9998,CUST2546,2024-04-05,South,Clothing,Corporate,5,440.10,0.01,2178.49,1464.86,713.63,Net Banking
9998,9999,CUST9750,2024-05-13,East,Sports,Home Office,10,303.63,0.17,2520.13,1455.60,1064.53,Cash on Delivery
9999,10000,CUST8377,2024-06-12,North,Electronics,Consumer,8,423.22,0.30,2370.03,1831.04,538.99,Net Banking

#### Dataset info

In [ ]:
print(f"rows: {df.shape[0]}")

rows 10000

In [18]:
print(f"columns: {df.shape[1]}")
df.columns.tolist()

columns: 12

['Customer_ID',
 'Order_Date',
 'Region',
 'Product_Category',
 'Customer_Segment',
 'Quantity',
 'Unit_Price',
 'Discount_Rate',
 'Revenue',
 'Cost',
 'Profit',
 'Payment_Method']

#### Look for missing values

In [21]:
missing = df.isnull().sum()
if missing.sum() == 0:
    print("No missing values")
else: 
    print(missing[missing > 0])

No missing values

#### Look for duplicates

In [23]:
dups = df.duplicated().sum()
if dups == 0:
    print("No duplicated values")
else:
    print(dups)

No duplicated values

#### Look for negatives

In [29]:
cols = ['Quantity', 'Unit_Price', 'Revenue', 'Cost', 'Profit']
for col in cols:
    negatives = (df[col] < 0).sum()
    if negatives == 0:
        print(f"No negative values in {col}")
    else:
        print(f"{col}: {negatives} negatives")

No negative values in Quantity
No negative values in Unit_Price
No negative values in Revenue
No negative values in Cost
No negative values in Profit

#### Check Discount_rate values

In [30]:
invalid = ((df['Discount_Rate'] < 0) | (df['Discount_Rate'] > 1)).sum()
if invalid == 0:
    print("All discount rates are valid")
else:
    print(f"{invalid} values outside valid range")

All discount rates are valid

#### Check Profit

In [ ]:
# Profit = Revenue - Cost
# We use 0.01 as a tolerance
invalid_profit = (abs(df['Profit'] - (df['Revenue'] - df['Cost'])) > 0.01).sum()

if invalid_profit == 0:
    print("All Profit values are valid")
else:
    print(f"{invalid_profit} rows have unvalid values")

All Profit values are valid

#### Check Revenue

In [34]:
# Revenue = Quantity × Unit_Price × (1 - Discount_Rate)
# We use 0.01 as a tolerance 
invalid_revenue = (abs(df['Revenue'] - (df['Quantity'] * df['Unit_Price'] * (1 - df['Discount_Rate']))) > 0.01).sum()

if invalid_revenue == 0:
    print("All Revenue values are valid")
else:
    print(f"{invalid_revenue} rows have unvalid values")

All Revenue values are valid

#### As we can see our data set is almost clean by default, so we just need to modify some small things

#### Drop unnecesary columns

In [12]:
df = df.drop(columns = "Order_ID")
df

,Customer_ID,Order_Date,Region,Product_Category,Customer_Segment,Quantity,Unit_Price,Discount_Rate,Revenue,Cost,Profit,Payment_Method
0,CUST3818,2024-08-18,North,Clothing,Corporate,5,300.68,0.27,1097.48,768.29,329.19,Credit Card
1,CUST9689,2024-06-19,South,Beauty,Home Office,9,32.89,0.02,290.09,179.33,110.76,Debit Card
2,CUST9147,2024-11-21,West,Sports,Corporate,5,345.61,0.25,1296.04,1022.60,273.44,Credit Card
3,CUST7938,2024-07-19,North,Clothing,Consumer,1,444.50,0.06,417.83,280.99,136.84,UPI
4,CUST5127,2024-10-28,South,Home & Kitchen,Consumer,5,65.13,0.21,257.26,151.90,105.36,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,CUST9137,2024-06-30,West,Beauty,Home Office,3,210.14,0.09,573.68,422.90,150.78,Credit Card
9996,CUST3663,2024-08-21,East,Clothing,Home Office,3,332.67,0.13,868.27,544.27,324.00,Credit Card
9997,CUST2546,2024-04-05,South,Clothing,Corporate,5,440.10,0.01,2178.49,1464.86,713.63,Net Banking
9998,CUST9750,2024-05-13,East,Sports,Home Office,10,303.63,0.17,2520.13,1455.60,1064.53,Cash on Delivery
9999,CUST8377,2024-06-12,North,Electronics,Consumer,8,423.22,0.30,2370.03,1831.04,538.99,Net Banking

#### Change Order_Date to datetime

In [13]:
# Order date is a String
df['Order_Date'].dtype

In [ ]:
# Convert it to datetime
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df['Order_Date'].dtype

dtype('<M8[us]')

#### Save the clean dataset

In [ ]:
df_clean = df.copy()
# This one is gonna be for the practice 1 folder
df_clean.to_csv('data_clean.csv', index=False)
# and Im gonna create another one to save it in data folder
df_clean.to_csv('../data/processed/data_clean.csv', index=False)